@model IEnumerable<ElRinconDeLaCopa.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Categoria</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <div class="form-group">
                <label class="control-label">Nombre</label>
                <input  class="form-control" />
                <span class="text-danger"></span>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-crear">Crear</button>
      </div>
    </div>
  </div>
</div>

<h1 class="text-center categoriah1">Categorias</h1>
<div class="divcolor container w-90  mt-5 rounded shadow"> 

<div class="row align-items-stretch justify-content-center box-shadowTable rounded">
        

    <p class="text-white"> 
        <button type="button" class="colorh2 box-shadowBtn" data-bs-toggle="modal" data-bs-target="#exampleModal">Crear Nueva</button>
    </p>
    <div class="divtable col bg d-none d-lg-block rounded">
        <table class="table text-white">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.Nombre) 
                    </td>
                    <td class="text-end">
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>